h1 {
  text-align: center;
  color: purple;
}

.box {
  border: 1px solid black;
  height: 150px;
}

#reset {
  align-content: center;
  margin-left: 30%;
  margin-right: 30%;
  color: blue;
}

#board {
  margin-top: 10px;
}